html, body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100% !important;
  overflow-x: hidden;
}

.nav-bar-vertical {
  position: fixed !important;
  background: rgba(131, 131, 131, 0.52);
}

.logo {
  max-width: 100px;
}

.custom-radio {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
}

/* Hide the browser's default radio button */
.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #BEBEBE;
}

/* On mouse-over, add a grey background color */
.custom-radio:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the radio button is checked, add a blue background */
.custom-radio input:checked ~ .checkmark {
  background-color: white;
  border: 1px solid #BEBEBE;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio .checkmark:after {
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #41fb4b;
}

.add-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: aqua;
  border-radius: 50%;
  padding: 8px 0 0 13px;
  cursor: pointer;
}

.datetimepicker-input{
  border-radius: 5px;
}

#top{
  height: 40px;
  background: #6c757d;
}

#pagination {
  display: inline-block;
  vertical-align: middle;
  padding: 1px 2px 4px 2px;
}

#pagination a, #pagination i {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  text-align: center;
  font-size: 14px;
  padding: 3px 0 2px 0;
  -webkit-user-select:none;
}

#pagination a {
  margin: 0 2px 0 2px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: inset 0 1px 0 0 #FFF, 0 1px 2px #666;
  text-shadow: 0 1px 1px #FFF;
  background-color: #E6E6E6;
  background-image: -webkit-linear-gradient(top, #F3F3F3, #D7D7D7);
}
#pagination i {
  margin: 0 3px 0 3px;
}
#pagination a.current {
  border: 1px solid #E9E9E9;
  box-shadow: 0 1px 1px #999;
  background-color: #DFDFDF;
  background-image: -webkit-linear-gradient(top, #D0D0D0, #EBEBEB);
}